@model List<LocacaoViewModel>
@{
    ViewData["Title"] = "Listagem de Empréstimos";



    //Recuperar dados da controller

    int FiltroPorPag = Int32.Parse(ViewData["emprestimosPorPagina"].ToString());

    int paginaAtual = Int32.Parse(ViewData["paginaAtual"].ToString());

    DateTime Date = DateTime.Now;



    int NumEmprestimosPorPag = (Model.Count < FiltroPorPag ? Model.Count : FiltroPorPag);

    int NumTotalDePag = 0;
    @if (NumEmprestimosPorPag > 0)

    {

        NumTotalDePag = Model.Count / NumEmprestimosPorPag + (Model.Count % NumEmprestimosPorPag == 0 ? 0 : 1);

    }
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Locacao" asp-action="Listagem" class="form-inline" method="GET">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="NomeUsuario">Usuário</option>
                    <option value="Filme">Filme</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>

            <div>
                <select name="intensPorPagina" id="intensPorPagina">
                    <option value="10">10 locações</option>
                    <option value="15">15 locações</option>
                    <option value="30">30 locações</option>
                    <option value="50">50 locações</option>
                    <option value=@Model.Count>Todos os emprestimos</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>

            <div id="SeletorPaginas">
                <span> Página:</span>
                @for (int i = 1; i < NumTotalDePag; i++)

                {
                    <span><a href="/Locacao/Listagem?paginaAtual=@i">@i, </a></span>
                }
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @if (Model.Count > 0)
            {
                <thead>
                    <tr>
                        <th class="textos">Id</th>
                        <th class="textos">Usuario</th>
                        <th class="textos">Data Locação</th>
                        <th class="textos">Disponível até</th>
                        <th class="textos">Filme</th>
                        <th class="textos">Gênero</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = (paginaAtual - 1) * NumEmprestimosPorPag; i < (NumEmprestimosPorPag * paginaAtual <
                   Model.Count ?
                   NumEmprestimosPorPag * paginaAtual : Model.Count); i++)
                    {
                        <tr>
                            <td class="textos">@Model[i].Id</td>
                            <td class="textos">@Model[i].NomeUsuario</td>
                            <td class="textos">@Model[i].DataLocacao.ToString("dd/MM/yyyy")</td>
                            <td class="textos">@Model[i].DataLocacao.AddDays(7).ToString("dd/MM/yyyy")</td>
                            <td class="textos">@Model[i].Filme.Nome</td>
                            <td class="textos">@Model[i].Filme.Genero</td>
                            <td><a href="/Locacao/Edicao/@Model[i].Id">Editar</a></td>
                            <td><a href="/Locacao/Excluir/@Model[i].Id">Excluir</a></td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <p>Nenhum registro encontrado!</p>
            }
        </table>
    </div>
</div>
